<!-- app/views/devise/mailer/confirmation_instructions.html.erb -->
<p>Welcome <%= @resource.email %>!</p>

<p>Click the link below to confirm your account:</p>

<p><a href="<%= @confirmation_url %>">Confirm my account</a></p>
